section.capability
  .container
    h2.capability__title.title.text-sm-center
      | Возможности, которые открывает недвижимость на Кипре
  .capability__slider
    .swiper
      .swiper-wrapper
        each object in data.capability
          .swiper-slide
            .capability__slide
              img.capability__image(
                src=`${baseDir}images/content/${object.image}.png`, 
                alt!=object.title
                width="567",
                height="250"
              )
              .capability__title!=object.title
              .capability__subtitle!=object.subtitle
