// Estate Start
section.estate.estate--rounded
  .container
    .estate__row.section__grid
      .estate__col.section__col.flex-column.gap-0
        h2.mt-md-5.title.text-sm-center
          | Недвижимость за криптовалюту
      .estate__col.estate__slide.section__col
        each estate, key in data.estates
          .estate__card.card(class=key == 0 ? 'card--primary' : 'card--secondary')
            .card__header
              .card__number(class=key == 0 ? 'text-primary' : 'text-secondary')
                | 0#{key+1}
            .card__body
              h3.card__title!=estate.title
              p.card__subtitle!=estate.subtitle
            .card__footer
              each tag in estate.tags
                .card__tag.tag!=tag
// Estate End
